{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Portal</title>
    <link rel="stylesheet" href="{% static 'css/home/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container text-center">
        <h1 class="my-5">Welcome to the Agricultural Internship Portal</h1>
        <div class="btn-group-vertical my-5">
            <a href="{% url 'admin:index' %}" class="btn btn-danger btn-lg mb-3">Admin Dashboard</a>
            <a href="{% url 'supervisor:index' %}" class="btn btn-primary btn-lg mb-3">Supervisor Dashboard</a>
            <a href="{% url 'intern:index' %}" class="btn btn-success btn-lg mb-3">Intern Dashboard</a>
        </div>
        <button class="btn btn-secondary mt-3" id="darkModeToggle">Toggle Dark Mode</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'js/home/script.js' %}"></script>
</body>

</html>